<!DOCTYPE html>
<html>
  <head>
    <title>Square</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <form action="/payment/results">

      <!-- Input 1-->
      <label for ="apr">APR </label>
      <input type="text" id="apr" placeholder="E.g. 5.42" name="apr"></input>
      <br>
      <!-- Input 2-->
      <label for ="years">Number of years </label>
      <input type="text" id="years" placeholder="How many years to repay?" name="years"></input>
      <br>
      <!-- Input 3-->
      <label for ="principal">Principal</label>
      <input type="text" id="principal" placeholder="How much principal?" name="principal"></input>

      <br>
      <button>Calculate monthly payment</button>
    </form>
  
  
  </body>
</html>
