<!DOCTYPE html>
<html>
  <head>
    <title>Random</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <form action="/random/results">
      <label for ="minimum">Minimum</label>
      <input type="minimum" id="square" placeholder="E.g. 1.5" name="min"></input>
      <br>
      <label for ="maximum">Maximum</label>
      <input type="maximum" id="square" placeholder="E.g. 1.5" name="max"></input>
      <br>
      <button>Pick random number</button>
    </form>
  
  
  </body>
</html>
