<!DOCTYPE html>
<html>
  <head>
    <title>Square</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <form action="/square/results">
      <label for ="square">Enter a number </label>
      <br>
      <input type="text" id="square" placeholder="What number do you want to take the square of?" name="number"></input>
      <br>
      <button>Calculate square</button>
    </form>
  
  
  </body>
</html>
